<!DOCTYPE html>
<html>
         <head>
    
            <link rel="stylesheet" type="text/css" href="tech4justice.css">
         </head>
         <body>
                    <div class="pageheader">
                           <p class="textfont">TECH FOR JUSTICE</p> 
                      </div>

                      <div class="headerborder"></div>
	      
	      <div class="textfont">
                         <nav id="nav01"></nav>  
                         </div>        
	      
                        <div class="textfont" class="fullcontainer">
                               <p style="padding-left: 50px; padding-top: 100px;" class="paratext" >
		You have now signed into the system and have come to the selection screen. Mouse over <span style="font-weight: bold;">"Documents"</span>.<br>
                                    A drop down menu will appear. You will have the option to create a new document or update a current document.<br>Click on your choice.
	            </p>
	    </div>

                    <script src="tech4justice-homenav.js"></script>

           </body>
</html>

