<!DOCTYPE html>
<html>
         <head>
    
            <link rel="stylesheet" type="text/css" href="tech4justice.css">
         </head>
         <body>

                        

                    <div style="padding-top: -20px;" class="pageheader">
                           <p class="textfont">TECH FOR JUSTICE</p> 
                      </div>

                      <div class="headerborder"></div>
	     
                          <div  class="textfont" >
	            <nav id ="nav01"></nav>
                          </div> 
	   
	                 
	      
                        <div class="textfont" class="fullcontainer">
                               <p style="padding-left: 20px;" class="paratext" >
		The Tech For Justice site is a web-based companion app to help you fill out legal and government documents.<iframe width="300" height="150"  style="float:right;"
                                src="https://www.youtube.com/embed/jcEu8e9QtZ4" frameborder="0" allowfullscreen>
                               </iframe><br> 	
		The site contains a video and a step-by step tutorial on how to fill out the document you're interested in.<br>
                                  Watch the video for a tutorial on how this app works.<br> <br>
		<form style="padding-left:20px;" class="paratext">
                                        Sign-In<br><br>
                                        User Name:<br>
                                       <input type="text" name="username" value="Joepublic">
                                       <br><br>
                                      Pasword:<br>
                                     <input type="text" name="password" value="*******"><br><br><br>
                                     <input type="button" value="Sign In"><br><br><br>
                                  </form>
                                 <span style="color:blue; text-decoration:underline; font-size:16px; padding-left:20px;">Forgot Password?</span><br><br>
                                   <form style="padding-left:20px;" class="paratext">
                                        New User<br><br>
                                        <input type="button" value="Sign Up">
                                  </form> 
	            </p>
	    </div>

                      <script src="tech4justice-homenav.js"></script>

         </body>
</html>

