<!DOCTYPE html>
<html>
         <head>
    
            <link rel="stylesheet" type="text/css" href="tech4justice.css">
         </head>
         <body>

                        

        <div style="padding-top: -20px;" class="pageheader">
            <p class="textfont">TECH FOR JUSTICE</p> 
        </div>

        <div class="headerborder"></div>
	     
        <div  class="textfont">
             <nav id="nav01"></nav>
        </div>    

       <div class="textfont instructional paratext" >
            <p> <iframe width="300" height="150"  style="float:left;"
                src="https://www.youtube.com/embed/jcEu8e9QtZ4" frameborder="0" allowfullscreen>
                 </iframe><br><br><br><br><br><br><br><br>
             </p>
             <p> <span class="highlighted-text">The above video gives instructions on filling out the header portion of this document.</span><br><br>
                    <span class="highlighted-text">1. Title: </span>Select Mr., Mrs., Ms.<br><br>
                    <span class="highlighted-text">2. </span>Enter your name as displayed on your driver's license or other ID.<br><br>
                    <span class="highlighted-text">3. PD ID: </span>Your unique ID<br><br>
                    <span class="highlighted-text">4. Address Line 1: </span>Enter the street address and apartment number if applicable.<br><br>
                    <span class="highlighted-text">5. Address Line 2: </span>Enter city, state and zip code.<br><br>
                    <span class="highlighted-text">6. </span>Enter your phone number.<br><br>
                    <span class="highlighted-text">7. </span>Click the "SHOW DOCUMENT" button at the bottom to view the document.<br><br>
                    <span class="highlighted-text">8. </span>Click on the radio buttons at the bottom to go to the next section of the document.
            </p>
        </div>                

         <div class="textfont doc-container paratext" >
             <p> <span style="font-weight: bold; font-size: 20px;">Personal Information and Overview</span><br><br><br>
                   <form>
                      <span style="font-weight: bold;">Title: </span> 
                     <input type="radio" name="title" value="Mr." checked> Mr.
                    <input type="radio" name="title" value="Mrs."> Mrs.
                    <input type="radio" name="title" value="Ms."> Ms.<br><br><br>
                    <span style="font-weight: bold;">Full Name:  </span> 
                    <input type="text" name="fullname" maxlength="30" value="Joseph Public"><br><br><br>
                    <span style="font-weight: bold;">PD ID: </span>
                    <input type="text" name="pd-id" maxlength="7" value="12345"><br><br><br>
                    <span style="font-weight: bold;">Address Line 1:  </span> 
                    <input type="text" name="addr-line1" maxlength="30" value="123 A Public Street"><br><br><br> 
                    <span style="font-weight: bold;">Address Line 2:  </span> 
                    <input type="text" name="addr-line2" maxlength="30" value="Washington, DC  20001"><br><br><br> 
                     <span style="font-weight: bold;">Phone Number:  </span> 
                    <input type="text" name="addr-line2" maxlength="15" value="202-555-1234"><br><br><br><br>
                    <input type="RADIO" name="button" value="^button1^" data-href="Personalinfo.html" checked>
                   <input type="RADIO" name="button" value="^button2^" data-href="caseinfo.html">
                   <input type="RADIO" name="button" value="^button3^" data-href="reasons.html">
                   <input type="RADIO" name="button" value="^button4^" data-href="howchanged.html">
                   <input type="RADIO" name="button" value="^button5^" data-href="references.html">
                   <input type="RADIO" name="button" value="^button6^" data-href="addedinfo.html">
                   <input type="button" value="Show Document">
                 </form>          
            </p>
        </div>     
        
        <script src="tech4justice-expungenav.js"></script>

    </body>
</html>