
<body class="splash-bg">
<form action="index.html" method="POST" id="form1">
<div class="outer">
<div class="middle">
	<div class="inner">
		<img id="logo" src="logo_white.png" alt="logo" width="150">
		<br>
		<p class="heading">Sign up here to get your record expunged.</p>
		<p><input class="textBoxes" type="text" name="email" placeholder="Email"></p>
		<p><input class="textBoxes" type="text" name="username" placeholder="Username"></p>
		<p><input class="textBoxes" type="password" name="password" placeholder="Password"></p>
		<button id="signUpBtn" type="submit" form="form1" value="submit">Sign Up</button>
		<br>
		<p class="accExist">Already have an account? <span id="logIn"><a href="signIn.html">Log In</a></span></p>
	</div>
</div>
</div>
</form>

</body>
