<!DOCTYPE html>
<html>
         <head>
            <link rel="stylesheet" type="text/css" href="tech4justice.css">
         </head>
         <body>
                    <div class="pageheader">
                           <p class="textfont">TECH FOR JUSTICE</p> 
                      </div>

                      <div class="headerborder"></div>
	      
	     <div class="textfont">
                         <nav id="nav01"></nav>  
                        </div>   
	      
                        <div class="textfont" class="fullcontainer">
                               <p style="padding-left: 20px;" class="paratext" >
	                 <form style="padding-left:20px;" class="paratext">
                                        Contact<br><br>
                                        First Name:<br>
                                       <input type="text" name="firstname" value="Joseph">
                                       <br><br>
                                      Last Name<br>
                                     <input type="text" name="lastname" value="Public"><br><br>
		 Comment:<br>
		 <textarea rows="10" cols="30">
                                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris varius fringilla risus, eget efficitur enim elementum eget. Maecenas
                                      fermentum tristique purus at ornare. Suspendisse interdum finibus nibh quis tempus. Nam condimentum velit in lorem aliquam,
	                   condimentum condimentum enim vestibulum.  Sed in hendrerit nibh. Proin lacus tortor, gravida a felis et, hendrerit aliquet neque. Cras at
                                    ligula rutrum, porta ante ac, tincidunt magna. Mauris ut eros non nisl commodo vestibulum a eu erat. Nullam non rutrum elit. Curabitur
                                    sem purus, ultricies sit amet ex vitae, egestas tempus orci.</textarea><br><br><br>
                                 <input type="button" value="Submit">
                               </form>                               
	          </p>
	</div>

	<script src="tech4justice-homenav.js"></script>

           </body>
</html>

