<h1>Editing User Case Info</h1>

<%= render 'form' %>
<!--< %= link_to "Next - User Arguments", edit_user_document_user_argument_path(params[:user_document_id],1) %> -->

<%= link_to 'Show', @user_case_info %> |
<%= link_to 'Back', user_case_infos_path %>

<!dropdown code for case conclusion field>
<select>
  <option value="no papered">no papered</option>
  <option value="dismissed">dismissed</option>
  <option value="nolle prosequi">nolle prosequi</option>
  <option value="guilty">guilty</option>
</select>

<!dropdown code for charge type field>
<select>
  <option value="(a) Its been two years since I was charged with an eligible misdemeanor but not convicted">(a) Its been two years since I was charged with an eligible misdemeanor but not convicted</option>
  <option value="(b) its has been 5 years I was charged but not convicted with an ineligible misdemeanor...">(b) its has been 5 years I was charged but not convicted with an ineligible misdemeanor...</option>
  <option value="(c) It has been 10 years since I finished parole, probation, prison, or supervised release after being charged with an eligible misdemeanor or eligible felony conviction  or inelegibile">(c) It has been 10 years since I finished parole, probation, prison, or supervised release after being charged with an eligible misdemeanor or eligible felony conviction  or inelegibile</option>
</select>

<!radio button code for case pending field>
<form action="">
  <input type="radio" name="case-pending" value="Yes"> Yes<br>
  <input type="radio" name="Case-pending" value="No"> No<br>
</form>
