<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>

  <p/>
  if user document exists, then go to
  <ul>
	<li>User Arguments</li>
	<li>User References</li>
	<li></li>
	<li></li>
  </ul>


</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
