<% @video_url = "https://www.youtube.com/embed/sXakTGa1OIs?list=PLIoHkUByRQSbW3gHYYl9qe9YxOYybPxeB" %> 

<h1>Editing User Reference</h1>

<%= render 'form' %>

<%= link_to 'Show', @user_reference %> |
<%= link_to 'Back', user_references_path %>
