<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <link rel="stylesheet" href="../assets/application.css">
  </head>
  <body>
    <div class="wrap">

      <header id="main-header">
        <div class="site-title">
          <h1>Style Guide</h1>
        </div>
        <nav id="site-nav">
          <ul>
          <% @categories.each do |category, file_name| %>
            <li><a href="<%= file_name %>"><%= category %></a></li>
          <% end %>
          </ul>
        </nav>
      </header>


      <div class="form-wrap">


        <div class="form-navigation">
          <ul class="form-navigation__list">
          <% @blocks.each do |b| %>
            <li class="form-navigation__list-item form-step"><a class="form-step__link" href="#<%= b[:name] %>"><%= b[:title] %></a></li>
          <% end %>
          </ul>
        </div>


        <section class="form-body">


