.form-navigation {
	background-color: $lightgray;	
}

	// responsive video
	.form-navigation__video {
		position: relative;
		margin: $base-padding;
		padding-bottom: 50%;
		iframe {
			position: absolute;
			width: 100%;
			height: 100%;
		}
	}

	.form-navigation__list, .form-navigation__list-item {
		list-style: none;
		padding: 0;
	}

	.form-navigation__list {
		margin: $base-padding 0 0;
	}
	.form-navigation__list-item {
		margin: 0 0 $base-padding;
	}

.form-step {
	font-weight: 300;

	display: block;
	position: relative;
}

	.form-step__link {
		padding: 5px $base-padding;

		color: #555;
		display: block;
		font-size: 1.4em;

		&:hover {
			text-decoration: none;
			.form-step__number {
				background-color: $mediumblue;
			}
		}

		.form-step--active &:hover {
			color: inherit;
			.form-step__number {
				background-color: $darkblue;
			}
		}
		.form-step--active & {
			color: $darkblue;			
		}
	}

	$number-size-ratio: 1.4;
	$number-font-size: (1 / $number-size-ratio) * 1em;

	.form-step__number {
		float: left;

		font-size: $number-font-size;
		line-height: $number-size-ratio * 1.42857143em;

		height: $number-size-ratio * 1.42857143em;
		width: $number-size-ratio * 1.42857143em;

		background-color: $darkgray;
		margin-right: 0.8em;
		color: #fff;
		border-radius: 100%;
		text-align: center;

		.form-step--active & {
			background-color: $darkblue;
		}
	}


.form-step--active {
	font-weight: 500;

	&:after {
		display: block;
		position: absolute;
		content: "";
		height: 100%;

		width: $base-padding;
		left: 100%;
		top: 0;

		border-width: 18px 0 18px $base-padding;
		border-style: solid;
		border-color: #fff transparent;

	  background-image: url('gray_texture.png');

	}
}

