/* COLOR! */
$darkblue:#1B2845;
$lightblue:#5899E2;
$darkgray: #848FA5;
$orange:#FF6600;
$lightgray:#F2F5FF;

$mediumblue: #586E8C;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900);

$roboto: "Roboto", Helvetica, Arial, sans-serif;

$base-padding: 15px;
$large-padding: 30px;
