@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "tech4justice";

/*doc
---
title: Buttons
name: button
category: Base CSS
---

Button styles can be applied to any element. Typically you'll want to use either a `<button>` or an `<a>` element:

```html_example
<button class="btn btnDefault">Click</button>
<a class="btn btnPrimary" href="http://trulia.com">Trulia!</a>
```

*/ 

body {
	font-family: $bodyfont;
}

@import "mixins";

// styles related to the page layout
@import "layout";


// Styles related to the form progress sidebar
@import "form_navigation";
