@import "variables";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "tech4justice";

body {
	font-family: $bodyfont;
}

@import "mixins";

// styles related to the page layout
@import "layout";


@import "buttons";


// Styles related to the form progress sidebar
@import "form_navigation";

