@import "variables";

body {
    font-family:$roboto;
}

/* HEADER/NAV */

.navbar-default {
    background-color:$darkblue !important;
    border:none !important;
    margin-bottom: 0;

}

#main-header .navbar-brand {
    height:75px;
}

#main-header .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
#main-header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-nav {
    li a {
        text-decoration: none;
        color: #fff !important;
        font-weight: bold;
        text-transform:uppercase;
        width: 100%;
    }

    li a:hover {
        color: $lightblue !important;
    }
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        margin-top:35px;
    }
}

@media screen and (max-width: 830px) {
    .navbar-toggle {
        margin-top:25px;
    }
}

@media (max-width: 1000px) {
  #main-header .nav >li >a {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/* END HEADER */

input[type=button] {
    width: 150px;
    height: 30px;
    background-color: #1b2845;
    color: #ff6600;
    font-weight: bold;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 350px;
    height: 150px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    resize: none;
}
.instructional {
  width:25%;
  border-right: solid;
  border-right-color: #848fa5;
  float: left;
}

.highlighted-text {
    color: #ff6600;
    font-weight: bold;
}

.doc-container {
  width:73%;
  float: right;
}