@import "variables";

body {
    font-family:$roboto;
}

#main-header .site-title, #site-nav {
    padding:10px 0;
}

#main-header .site-title {
background-color: #1b2845;
color: #f2f5ff;
font-size: 24px;
font-weight: bold;
padding-top: 10px;
padding-bottom:10px;
padding-left: 30px;
    .logo {
        color:#fff;
        width:320px;
        margin-top:11px;
    }
}

#site-nav {
   list-style-type: none;
   display:inline-block;
   padding-left: 20px;

    ul {
        padding-left:10px !important;
    }

    ul li {
        display: inline;
        margin-right: 15px;
        font-size: 14px;
    }

    ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        width: 100%;
        text-transform:uppercase;
    }

    ul li a:hover {
        color: #fff;
        background-color:none !important;
    }
}

input[type=button] {
    width: 150px;
    height: 30px;
    background-color: #1b2845;
    color: #ff6600;
    font-weight: bold;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 350px;
    height: 150px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    resize: none;
}
.instructional {
  width:25%;
  border-right: solid;
  border-right-color: #848fa5;
  float: left;
}

.highlighted-text {
    color: #ff6600;
    font-weight: bold;
}

.doc-container {
  width:73%;
  float: right;
}