@import "variables";

body {
    font-family:$roboto;
}

.navbar-default {
    background-color:$darkblue !important;
    border:none !important;
}

#main-header .navbar-brand {
    height:75px;
}

#main-header .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
#main-header .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-nav {
    li a {
        text-decoration: none;
        color: #fff !important;
        font-weight: bold;
        text-transform:uppercase;
        width: 100%;
    }

    li a:hover {
        color: $lightblue !important;
    }
}

@media screen and (min-width: 700px) {
    .navbar-toggle {
        margin-top:35px;
    }
}

@media screen and (max-width: 700px) {
    #main-header .nav >li >a {
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .navbar-toggle {
        margin-top:25px;
    }
}

input[type=button] {
    width: 150px;
    height: 30px;
    background-color: #1b2845;
    color: #ff6600;
    font-weight: bold;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 350px;
    height: 150px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    resize: none;
}
.instructional {
  width:25%;
  border-right: solid;
  border-right-color: #848fa5;
  float: left;
}

.highlighted-text {
    color: #ff6600;
    font-weight: bold;
}

.doc-container {
  width:73%;
  float: right;
}