@import "variables";

body {
    font-family:$roboto;
}

#main-header .site-title {
background-color: #1b2845;
color: #f2f5ff;
font-size: 24px;
font-weight: bold;
padding-top: 10px;
padding-bottom:10px;
padding-left: 30px;
    .logo {
        color:#fff;
        height:130px;
        width:143px;
    }
}

.textfont {
font-family: Tahoma;
}

.headerborder {
background-color: #848fa5;
height: 10px;
}

.paratext {
font-size: 16px;
color: #1b2845;
line-height: 20px;
}

.fullcontaner {
background-color: #f2f5ff;
}

input[type=button] {
    width: 150px;
    height: 30px;
    background-color: #1b2845;
    color: #ff6600;
    font-weight: bold;
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea {
    width: 350px;
    height: 150px;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    resize: none;
}
.instructional {
  width:25%;
  border-right: solid;
  border-right-color: #848fa5;
  float: left;
}

.highlighted-text {
    color: #ff6600;
    font-weight: bold;
}

.doc-container {
  width:73%;
  float: right;
}

#site-nav {
   list-style-type: none;
   display:inline-block;
    padding-top:-30px;
    padding-left: 20px;

    ul {
        padding-left:10px !important;
    }

    ul li {
        display: inline;
        margin-right: 15px;
        font-size: 14px;
    }

    ul li a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        width: 100%;
    }

    ul li a:hover {
        color: #fff;
        background-color:none !important;
    }
}

.sidebar {
  background-image: url('gray_texture.png');
  width: 250px;
  height: 100%;
  float: left;
  position: fixed;
}

.blue_banner{
  background-color: $darkblue;
  height: 50px;
  margin-top: 30px;
  color: white;
  line-height: 50px;
  font-size: 22px;
  text-align: center;
  color: #a6a6a6;
  margin-right: -10px;
  padding-right: 10px;
}

.right-column{
  float: right;
  clear: left;
}

.sidebar-docs-title {
  text-align: center;
  color: $darkblue;
  font-size: 22px;
}
