/* COLOR! */
$darkblue:#1B2845;
$lightblue:#5899E2;
$darkgray: #848FA5;
$orange:#FF6600;
$lightgray:#F2F5FF;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,900);

$bodyfont: "Roboto", Helvetica, Arial, sans-serif;
