<div class="sidebar two-column__sidebar">

  <h2 class="blue_banner">
    My Documents
  </h2>

  <h3 class="sidebar-docs-title"> In Progress </h3>
  <% if @user_documents.present? %>
    <% @user_documents.each do |user_document| %>
      <p><%= link_to user_document.title, edit_user_document_path(user_document) %></p>
    <% end %>
  <% end %>

  <h3 class="sidebar-docs-title"> Completed </h3>


</div>
