<div class="sidebar">

  <h2 class="blue_banner">
    My Documents
  </h2>

  <h3 class="sidebar-docs-title"> In Progress </h3>

  <p class="sidebar-doc"> Document 1 </p>

  <h3 class="sidebar-docs-title"> Completed </h3>


</div>
