<% video_url = "https://www.youtube.com/embed/H2coJKNHe3s?list=PLIoHkUByRQSbW3gHYYl9qe9YxOYybPxeB" %>

<h1>New User Information</h1>


<%= render 'form' %>

<!--< %= link_to 'Back', user_informations_path %>-->
<%= link_to 'User Case Info',user_case_infos_path %>

