<h1>New User Information</h1>


<%= render 'form' %>

<!--< %= link_to 'Back', user_informations_path %>-->
<%= link_to 'User Case Info',user_document_user_case_infos_path(params[:user_document_id]) %>

