<% @video_url = "https://www.youtube.com/embed/H2coJKNHe3s?list=PLIoHkUByRQSbW3gHYYl9qe9YxOYybPxeB" %>

<h1>Editing Document User Case Info</h1>

<%= render 'form' %>

<%= link_to 'Show', @document_user_case_info %> |
<%= link_to 'Back', document_user_case_infos_path %>
